.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul{
    list-style-position: inside;
    font-size: 20px;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 35px;
}
input{
    height: 30px;
    width: 300px;
    font-size: 20px;
    margin-bottom: 2rem;
    border-radius: 20px;
    text-align: center;
}
button{
    height: 30px;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}